.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../assets/login.jpg");
  background-size: cover;
  background-position: center;
}
